body {
    padding: 0;
    margin: 0;
    display: flex;
}

/* LEFT HAND SIDE OF WEBPAGE */
/* SIDEBAR CONTAINER */
.sideBar-section {
    width: max-content;
    min-height: 100vh;
    background-color: #2C2C2C;
    padding-left: 1rem;
}


.sideBar-section h2 {
    color: #B3B3B3;
    font-size: 32px;
    font-family: 'Inter';
    font-weight: 700;
}

/* PROFILE SUB-CONTAINER */
.profile-container {
    display: flex;
    align-items: center;
    padding-right: 15px;

}

.profile-info h3,
p {
    padding-left: 10px;
    margin: 0;
}

.profile-info h3 {
    color: #757575;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
}

.profile-info p {
    color: #B3B3B3;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
}

.profile-container img {
    width: 50px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    /* Ensures a square shape before rounding */
    object-fit: cover;
}

.linebreak-main {
    background-color: #B3B3B3;
    margin: 15px -1rem;
    height: 1px;
    width: calc(100% + 1rem);
}

/* MAIN MENU (Navigation) */
.main-menu h3 {
    color: #B3B3B3;
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 10px;
}

.main-menu button {
    /* Button style */
    margin: 5px 0;
    width: 220px;
    height: 45px;
    background: #D9D9D9;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    /* Text style */
    text-align: left;
    color: #1E1E1E;
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    transition-duration: 0.5s;
}

.main-menu i {
    margin: 0 10px;
}

.main-menu button:hover {
    transform: scale(1.05);
    background: #B3B3B3;
}

.main-menu button:focus {
    background-color: #2C2C2C;
    color: #D9D9D9;
}

/* RIGHT HAND SIDE OF WEBPAGE */
.rhs {
    width: 100%;
}

/* NAVBAR CONTAINER */
.navBar-section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 86px;
    background: #A0A0A0;
    object-position: top;
}


/* NOTIFICATION BELL */
.noti-bell {
    margin-right: 20px;
    border: none;
    background: none;
}

.noti-bell {
    font-size: 25px;
    transition-duration: 0.5s;
}

.noti-bell:hover {
    transform: scale(1.2);
}

/* MODULE CONTAINER */
.module-section {
    margin: 0 15px;
}

.enrolled-modules-container {
    display: flex;
    gap: 2%;
}

.module-info-card {
    box-sizing: border-box;
    width: 500px;
}

.module-section h3 {
    color: #2C2C2C;
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
    width: max-content;
    margin-bottom: 0;
}

.module-info-card img {
    width: 450px;
    height: 220px;
    border-radius: 10px;
    border: 1px solid #1E1E1E;
    object-fit: cover;
    margin: 5px 0;
    transition-duration: 0.5s;
}

.module-info-card img:hover {
    transform: scale(1.02);
}

.module-info-card h4 {
    box-sizing: border-box;
    color: #1E1E1E;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    margin: 15px 0 10px 0;
}

.module-info-card p {
    color: #1E1E1E;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
}

.complete-modules-container {
    display: flex;
    gap: 2%;
}

.linebreak-module {
    background-color: #1E1E1E;
    height: 1px;
    width: auto;
    margin-top: 5px;
}